@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top:5px;
        width: 300px;
    }

    .filme-principal{
        background-position: 30% 50%; /*Deixa a imagem um pouco melhor de visibilidade*/
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }

    .filme-principal{ /*Não está presente no curso mas adicionei pra ficar melhor na minha tela que é grande*/
        height: 600px;
    }
}